USE [master]
GO
/****** Object:  Database [Final project]    Script Date: 04/11/2023 22:12:53 ******/
CREATE DATABASE [Final project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Final project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Final project.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Final project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Final project_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Final project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Final project]
GO
/****** Object:  Schema [FIFA]    Script Date: 04/11/2023 22:12:53 ******/
CREATE SCHEMA [FIFA]
GO
/****** Object:  Table [FIFA].[Player]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIFA].[Player](
	[Player_ID] [varchar](100) NOT NULL,
	[First_Name] [varchar](100) NOT NULL,
	[Last_Name] [varchar](100) NOT NULL,
	[Shirt_Number] [int] NOT NULL,
	[Birth_Date] [date] NOT NULL,
	[Position] [varchar](100) NOT NULL,
	[Goals] [int] NULL,
	[Team] [varchar](100) NOT NULL,
	[Nationality] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Player_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FIFA].[Goal_Scored]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIFA].[Goal_Scored](
	[Goal_Score_ID] [int] IDENTITY(1,1) NOT NULL,
	[Match_ID] [varchar](100) NOT NULL,
	[Player_ID] [varchar](100) NOT NULL,
	[Goal_Minute] [varchar](100) NOT NULL,
	[Own_Goal] [int] NOT NULL,
	[Penalty] [int] NOT NULL,
	[Period] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Goal_Score_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [FIFA].[TopScorer]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FIFA].[TopScorer] AS
	SELECT Player_ID, TotalGoals
	FROM (
		SELECT GS.Player_ID,
		COUNT(CASE WHEN GS.Own_Goal = 0 THEN 1 ELSE 0 END) AS TotalGoals
		FROM FIFA.Goal_Scored GS
		JOIN FIFA.Player P ON GS.Player_ID = P.Player_ID
		GROUP BY GS.Player_ID
		) AS GoalsCount;
GO
/****** Object:  Table [FIFA].[Match]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIFA].[Match](
	[Match_ID] [varchar](100) NOT NULL,
	[Tournament_ID] [int] NULL,
	[Stage] [varchar](100) NOT NULL,
	[Stadium_ID] [int] NOT NULL,
	[Home_Team] [varchar](100) NOT NULL,
	[Away_Team] [varchar](100) NOT NULL,
	[Date] [date] NOT NULL,
	[Result] [varchar](100) NULL,
	[Start_Time] [date] NOT NULL,
	[End_Time] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Match_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FIFA].[Penalty_Kick]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIFA].[Penalty_Kick](
	[Penalty_ID] [int] IDENTITY(1,1) NOT NULL,
	[Match_ID] [varchar](100) NOT NULL,
	[Player_ID] [varchar](100) NOT NULL,
	[Penalty_Outcome] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Penalty_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [FIFA].[MatchResults]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FIFA].[MatchResults] AS
WITH Result AS (
    SELECT
        M.Match_ID,
        M.Stage,
        M.Home_Team,
        M.Away_Team,
        SUM(CASE WHEN M.Home_Team = P.Team AND G.Own_Goal = 0 THEN 1 ELSE 0 END) AS Home_Team_Score,
        SUM(CASE WHEN M.Away_Team = P.Team AND G.Own_Goal = 0 THEN 1 ELSE 0 END) AS Away_Team_Score,
        SUM(CASE WHEN G.Own_Goal = 1 AND P.Team = M.Home_Team THEN 1 ELSE 0 END) AS Home_Own_Goals,
        SUM(CASE WHEN G.Own_Goal = 1 AND P.Team = M.Away_Team THEN 1 ELSE 0 END) AS Away_Own_Goals
    FROM
        FIFA.Match M
    LEFT JOIN
        FIFA.Goal_Scored G ON M.Match_ID = G.Match_ID
    INNER JOIN
        FIFA.Player P ON G.Player_ID = P.Player_ID
    GROUP BY
        M.Match_ID,
        M.Stage,
        M.Home_Team,
        M.Away_Team
), PenaltyResult AS (
    SELECT
        PK.Match_ID,
        SUM(CASE WHEN PK.Penalty_Outcome = 1 AND P.Team = M.Home_Team THEN 1 ELSE 0 END) AS Home_Penalties,
        SUM(CASE WHEN PK.Penalty_Outcome = 1 AND P.Team = M.Away_Team THEN 1 ELSE 0 END) AS Away_Penalties
    FROM
        FIFA.Penalty_Kick PK
    INNER JOIN
        FIFA.Player P ON PK.Player_ID = P.Player_ID
    INNER JOIN
        Result M ON PK.Match_ID = M.Match_ID
    GROUP BY
        PK.Match_ID, M.Home_Team, M.Away_Team
)

SELECT
    R.Match_ID,
    R.Stage,
    R.Home_Team,
    R.Away_Team,
    R.Home_Team_Score + R.Away_Own_Goals AS HomeTeamGoals,
    R.Away_Team_Score + R.Home_Own_Goals AS AwayTeamGoals,
    CASE 
        WHEN R.Home_Team_Score + R.Away_Own_Goals > R.Away_Team_Score + R.Home_Own_Goals THEN 'Home Team Wins' 
        WHEN R.Home_Team_Score + R.Away_Own_Goals < R.Away_Team_Score + R.Home_Own_Goals THEN 'Away Team Wins' 
        WHEN R.Home_Team_Score + R.Away_Own_Goals = R.Away_Team_Score + R.Home_Own_Goals AND R.Stage = 'group stage' THEN 'Draw'
        ELSE (
            CASE 
                WHEN PenaltyResult.Home_Penalties > PenaltyResult.Away_Penalties THEN 'Home Team Wins on Penalties'
                WHEN PenaltyResult.Home_Penalties < PenaltyResult.Away_Penalties THEN 'Away Team Wins on Penalties'
                ELSE 'Penalties Draw'
            END
        )
    END AS Result
FROM
    Result AS R
LEFT JOIN
    PenaltyResult ON R.Match_ID = PenaltyResult.Match_ID;
GO
/****** Object:  Table [FIFA].[Event]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIFA].[Event](
	[Event_ID] [int] IDENTITY(1,1) NOT NULL,
	[Match_ID] [varchar](100) NOT NULL,
	[Player_ID] [varchar](100) NOT NULL,
	[Event_Type] [varchar](100) NOT NULL,
	[Event_Minute] [varchar](100) NOT NULL,
	[Event_Period] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Event_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FIFA].[Group_Team]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIFA].[Group_Team](
	[Group_Stage_ID] [int] NOT NULL,
	[Team_Name] [varchar](100) NOT NULL,
	[Points] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  View [FIFA].[TeamRank]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FIFA].[TeamRank] AS
WITH TotalGroupGoalDifference AS (
SELECT
    Team,
    SUM(GoalDifference) AS TotalGoalDifference
FROM (
    SELECT Home_Team AS Team, HomeTeamGoals - AwayTeamGoals AS GoalDifference
    FROM FIFA.MatchResults
    WHERE Stage = 'group stage'
    UNION ALL
    SELECT Away_Team AS Team, AwayTeamGoals - HomeTeamGoals AS GoalDifference
    FROM FIFA.MatchResults
    WHERE Stage = 'group stage'
) AS GoalDifferencesPerTeam
GROUP BY Team
), TotalGroupGoals AS(
SELECT 
	Team AS TeamName,
    SUM(TotalGoals) AS TotalGoals
FROM (
    SELECT Home_Team AS Team, HomeTeamGoals AS TotalGoals
    FROM FIFA.MatchResults
    WHERE Stage = 'group stage'
    UNION ALL
    SELECT Away_Team AS Team, AwayTeamGoals AS TotalGoals
    FROM FIFA.MatchResults
    WHERE Stage = 'group stage'
) AS GoalsPerTeam
GROUP BY Team
), HeadToHeadMatches AS (
    SELECT
        Home_Team AS Team1,
        Away_Team AS Team2,
        Result,
		HomeTeamGoals - AwayTeamGoals AS GoalDifference
    FROM FIFA.MatchResults
    WHERE Stage = 'group stage'
), HeadToHeadPoints AS (
SELECT
    Team1,
    SUM(
        CASE
            WHEN Result = 'Home Team Wins' THEN 3
            WHEN Result = 'Draw' THEN 1
            ELSE 0
        END
    ) AS Team1Points,
    Team2,
    SUM(
        CASE
            WHEN Result = 'Away Team Wins' THEN 3
            WHEN Result = 'Draw' THEN 1
            ELSE 0
        END
    ) AS Team2Points
FROM HeadToHeadMatches
GROUP BY Team1, Team2
), HeadToHeadGoalDifference AS (
SELECT
    Team1,
    SUM(GoalDifference) AS Team1GoalDifference,
    Team2,
    SUM(-GoalDifference) AS Team2GoalDifference
FROM HeadToHeadMatches
GROUP BY Team1, Team2
), HeadToHeadMatchesForGoals AS (
    SELECT
        Home_Team AS Team1,
        Away_Team AS Team2,
        HomeTeamGoals AS Team1Goals,
        AwayTeamGoals AS Team2Goals
    FROM FIFA.MatchResults
    WHERE Stage = 'group stage'
    UNION ALL
    SELECT
        Away_Team AS Team1,
        Home_Team AS Team2,
        AwayTeamGoals AS Team1Goals,
        HomeTeamGoals AS Team2Goals
    FROM FIFA.MatchResults
    WHERE Stage = 'group stage'
), HeadToHeadTotalGoals AS (
SELECT
    Team1,
    SUM(Team1Goals) AS Team1TotalGoals,
    Team2,
    SUM(Team2Goals) AS Team2TotalGoals
FROM HeadToHeadMatchesForGoals
GROUP BY Team1, Team2
), CardsCount AS(
SELECT
        Match_ID,
        Player_ID,
        SUM(
		CASE
		WHEN Event_Type = 'yellow card' THEN 1 ELSE 0 END) AS YellowCardCount,
		SUM(CASE
		WHEN Event_Type = 'red card' THEN 1 ELSE 0 END) AS RedCardCount
    FROM FIFA.Event
    GROUP BY Match_ID, Player_ID
)


	SELECT Group_Stage_ID, Team_Name, Points, 
    ROW_NUMBER() OVER (PARTITION BY Group_Stage_ID ORDER BY
        Points DESC,
        (SELECT MAX(TotalGoalDifference) FROM TotalGroupGoalDifference WHERE Team = FIFA.Group_Team.Team_Name) DESC,
        (SELECT MAX(TotalGoals) FROM TotalGroupGoals WHERE TeamName = FIFA.Group_Team.Team_Name) DESC,
        (SELECT SUM(Team1Points) FROM HeadToHeadPoints WHERE Team1 = FIFA.Group_Team.Team_Name) DESC,
        (SELECT MAX(Team1GoalDifference) FROM HeadToHeadGoalDifference WHERE Team1 = FIFA.Group_Team.Team_Name) DESC,
        (SELECT MAX(Team1TotalGoals) FROM HeadToHeadTotalGoals WHERE Team1 = FIFA.Group_Team.Team_Name) DESC
    ) AS Rank
FROM FIFA.Group_Team;
GO
/****** Object:  Table [FIFA].[Award]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIFA].[Award](
	[Award_ID] [int] IDENTITY(1,1) NOT NULL,
	[Tournament_ID] [int] NOT NULL,
	[Award_Type] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Award_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FIFA].[Group_Stage]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIFA].[Group_Stage](
	[Group_Stage_ID] [int] IDENTITY(1,1) NOT NULL,
	[Tournament_ID] [int] NOT NULL,
	[Group_Name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Group_Stage_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FIFA].[Host_Country]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIFA].[Host_Country](
	[Country_ID] [int] IDENTITY(1,1) NOT NULL,
	[Tournament_ID] [int] NOT NULL,
	[Country_Name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Country_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FIFA].[Knockout_Stage]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIFA].[Knockout_Stage](
	[Knockout_Stage_ID] [int] IDENTITY(1,1) NOT NULL,
	[Tournament_ID] [int] NOT NULL,
	[Stage] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Knockout_Stage_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FIFA].[Knockout_Team]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIFA].[Knockout_Team](
	[Knockout_Stage_ID] [int] NULL,
	[Team_Name] [varchar](100) NOT NULL,
	[Goals] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [FIFA].[Manager]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIFA].[Manager](
	[Manager_ID] [varchar](100) NOT NULL,
	[Manager_Name] [varchar](100) NOT NULL,
	[Team] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Manager_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FIFA].[Manager_Appearances]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIFA].[Manager_Appearances](
	[Manager_ID] [varchar](100) NOT NULL,
	[Match_ID] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [FIFA].[Match_Official]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIFA].[Match_Official](
	[Match_ID] [varchar](100) NOT NULL,
	[Official_ID] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [FIFA].[Match_Player]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIFA].[Match_Player](
	[Match_ID] [varchar](100) NOT NULL,
	[Player_ID] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [FIFA].[Official]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIFA].[Official](
	[Official_ID] [varchar](100) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Role] [varchar](100) NOT NULL,
	[Confederation] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Official_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FIFA].[Player_Awards]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIFA].[Player_Awards](
	[Award_ID] [int] NOT NULL,
	[Player_ID] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [FIFA].[Player_Substitution]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIFA].[Player_Substitution](
	[Match_ID] [varchar](100) NOT NULL,
	[Player_ID] [varchar](100) NOT NULL,
	[Minute] [varchar](100) NOT NULL,
	[Going_Off] [bit] NOT NULL,
	[Coming_On] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [FIFA].[Stadium]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIFA].[Stadium](
	[Stadium_ID] [int] IDENTITY(1,1) NOT NULL,
	[Stadium_Name] [varchar](100) NOT NULL,
	[City] [varchar](100) NOT NULL,
	[Country] [varchar](100) NOT NULL,
	[Capacity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Stadium_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FIFA].[Team]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIFA].[Team](
	[Team_ID] [int] IDENTITY(1,1) NOT NULL,
	[Manager_ID] [varchar](100) NOT NULL,
	[Player_ID] [varchar](100) NOT NULL,
	[Team_Name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Team_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FIFA].[Team_Awards]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIFA].[Team_Awards](
	[Award_ID] [int] NOT NULL,
	[Team_Name] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [FIFA].[Tournament]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FIFA].[Tournament](
	[Tournament_ID] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NOT NULL,
	[Location] [varchar](100) NULL,
	[Winner] [varchar](100) NULL,
	[Start_Date] [date] NULL,
	[End_Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Tournament_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [FIFA].[Award] ON 

INSERT [FIFA].[Award] ([Award_ID], [Tournament_ID], [Award_Type]) VALUES (1, 1, N'Golden Boot')
SET IDENTITY_INSERT [FIFA].[Award] OFF
GO
SET IDENTITY_INSERT [FIFA].[Event] ON 

INSERT [FIFA].[Event] ([Event_ID], [Match_ID], [Player_ID], [Event_Type], [Event_Minute], [Event_Period]) VALUES (230, N'M-2022-01', N'P-70879', N'yellow card', N'15''', N'first half')
INSERT [FIFA].[Event] ([Event_ID], [Match_ID], [Player_ID], [Event_Type], [Event_Minute], [Event_Period]) VALUES (231, N'M-2022-01', N'P-01930', N'yellow card', N'22''', N'first half')
INSERT [FIFA].[Event] ([Event_ID], [Match_ID], [Player_ID], [Event_Type], [Event_Minute], [Event_Period]) VALUES (232, N'M-2022-01', N'P-82216', N'yellow card', N'29''', N'first half')
GO
SET IDENTITY_INSERT [FIFA].[Event] OFF
GO
SET IDENTITY_INSERT [FIFA].[Goal_Scored] ON 

INSERT [FIFA].[Goal_Scored] ([Goal_Score_ID], [Match_ID], [Player_ID], [Goal_Minute], [Own_Goal], [Penalty], [Period]) VALUES (875, N'M-2022-01', N'P-75912', N'16''', 0, 1, N'first half')
INSERT [FIFA].[Goal_Scored] ([Goal_Score_ID], [Match_ID], [Player_ID], [Goal_Minute], [Own_Goal], [Penalty], [Period]) VALUES (876, N'M-2022-01', N'P-75912', N'31''', 0, 0, N'first half')
INSERT [FIFA].[Goal_Scored] ([Goal_Score_ID], [Match_ID], [Player_ID], [Goal_Minute], [Own_Goal], [Penalty], [Period]) VALUES (877, N'M-2022-02', N'P-15674', N'35''', 0, 0, N'first half')
GO
SET IDENTITY_INSERT [FIFA].[Goal_Scored] OFF
GO
SET IDENTITY_INSERT [FIFA].[Group_Stage] ON 

INSERT [FIFA].[Group_Stage] ([Group_Stage_ID], [Tournament_ID], [Group_Name]) VALUES (1, 1, N'GROUP A')
INSERT [FIFA].[Group_Stage] ([Group_Stage_ID], [Tournament_ID], [Group_Name]) VALUES (2, 1, N'GROUP B')
INSERT [FIFA].[Group_Stage] ([Group_Stage_ID], [Tournament_ID], [Group_Name]) VALUES (3, 1, N'GROUP C')
SET IDENTITY_INSERT [FIFA].[Group_Stage] OFF
GO
INSERT [FIFA].[Group_Team] ([Group_Stage_ID], [Team_Name], [Points]) VALUES (1, N'Ecuador', 3)
INSERT [FIFA].[Group_Team] ([Group_Stage_ID], [Team_Name], [Points]) VALUES (1, N'Netherlands', 7)
INSERT [FIFA].[Group_Team] ([Group_Stage_ID], [Team_Name], [Points]) VALUES (1, N'Qatar', 0)
GO
SET IDENTITY_INSERT [FIFA].[Knockout_Stage] ON 

INSERT [FIFA].[Knockout_Stage] ([Knockout_Stage_ID], [Tournament_ID], [Stage]) VALUES (1, 1, N'Round of 16')
INSERT [FIFA].[Knockout_Stage] ([Knockout_Stage_ID], [Tournament_ID], [Stage]) VALUES (2, 1, N'Quarter-Finals')
INSERT [FIFA].[Knockout_Stage] ([Knockout_Stage_ID], [Tournament_ID], [Stage]) VALUES (3, 1, N'Semi-Finals')
SET IDENTITY_INSERT [FIFA].[Knockout_Stage] OFF
GO
INSERT [FIFA].[Knockout_Team] ([Knockout_Stage_ID], [Team_Name], [Goals]) VALUES (1, N'Netherlands', NULL)
INSERT [FIFA].[Knockout_Team] ([Knockout_Stage_ID], [Team_Name], [Goals]) VALUES (1, N'Senegal', NULL)
INSERT [FIFA].[Knockout_Team] ([Knockout_Stage_ID], [Team_Name], [Goals]) VALUES (1, N'England', NULL)
GO
INSERT [FIFA].[Manager] ([Manager_ID], [Manager_Name], [Team]) VALUES (N'M-002', N'Otto Addo', N'Ghana')
INSERT [FIFA].[Manager] ([Manager_ID], [Manager_Name], [Team]) VALUES (N'M-011', N'Gustavo Alfaro', N'Ecuador')
INSERT [FIFA].[Manager] ([Manager_ID], [Manager_Name], [Team]) VALUES (N'M-012', N'Diego Alonso', N'Uruguay')
GO
INSERT [FIFA].[Manager_Appearances] ([Manager_ID], [Match_ID]) VALUES (N'M-011', N'M-2022-01')
INSERT [FIFA].[Manager_Appearances] ([Manager_ID], [Match_ID]) VALUES (N'M-373', N'M-2022-01')
INSERT [FIFA].[Manager_Appearances] ([Manager_ID], [Match_ID]) VALUES (N'M-405', N'M-2022-02')
GO
INSERT [FIFA].[Match] ([Match_ID], [Tournament_ID], [Stage], [Stadium_ID], [Home_Team], [Away_Team], [Date], [Result], [Start_Time], [End_Time]) VALUES (N'M-2022-01', 1, N'group stage', 1, N'Qatar', N'Ecuador', CAST(N'2022-11-20' AS Date), NULL, CAST(N'1900-01-01' AS Date), NULL)
INSERT [FIFA].[Match] ([Match_ID], [Tournament_ID], [Stage], [Stadium_ID], [Home_Team], [Away_Team], [Date], [Result], [Start_Time], [End_Time]) VALUES (N'M-2022-02', 1, N'group stage', 2, N'England', N'Iran', CAST(N'2022-11-21' AS Date), NULL, CAST(N'1900-01-01' AS Date), NULL)
INSERT [FIFA].[Match] ([Match_ID], [Tournament_ID], [Stage], [Stadium_ID], [Home_Team], [Away_Team], [Date], [Result], [Start_Time], [End_Time]) VALUES (N'M-2022-03', 1, N'group stage', 3, N'Senegal', N'Netherlands', CAST(N'2022-11-21' AS Date), NULL, CAST(N'1900-01-01' AS Date), NULL)
GO
INSERT [FIFA].[Match_Official] ([Match_ID], [Official_ID]) VALUES (N'M-2022-01', N'R-327')
INSERT [FIFA].[Match_Official] ([Match_ID], [Official_ID]) VALUES (N'M-2022-02', N'R-093')
INSERT [FIFA].[Match_Official] ([Match_ID], [Official_ID]) VALUES (N'M-2022-03', N'R-386')
GO
INSERT [FIFA].[Match_Player] ([Match_ID], [Player_ID]) VALUES (N'M-2022-01', N'P-82216')
INSERT [FIFA].[Match_Player] ([Match_ID], [Player_ID]) VALUES (N'M-2022-01', N'P-75628')
INSERT [FIFA].[Match_Player] ([Match_ID], [Player_ID]) VALUES (N'M-2022-01', N'P-44851')
GO
INSERT [FIFA].[Official] ([Official_ID], [Name], [Role], [Confederation]) VALUES (N'R-013', N'Abdulrahman Al-Jassim', N'Referee', N'Asian Football Confederation')
INSERT [FIFA].[Official] ([Official_ID], [Name], [Role], [Confederation]) VALUES (N'R-044', N'FALSE Barton', N'Referee', N'Confederation of North, Central American and Caribbean Association Football')
INSERT [FIFA].[Official] ([Official_ID], [Name], [Role], [Confederation]) VALUES (N'R-047', N'Chris Beath', N'Referee', N'Asian Football Confederation')
GO
SET IDENTITY_INSERT [FIFA].[Penalty_Kick] ON 

INSERT [FIFA].[Penalty_Kick] ([Penalty_ID], [Match_ID], [Player_ID], [Penalty_Outcome]) VALUES (1, N'M-2022-53', N'P-05559', 0)
INSERT [FIFA].[Penalty_Kick] ([Penalty_ID], [Match_ID], [Player_ID], [Penalty_Outcome]) VALUES (2, N'M-2022-53', N'P-22633', 0)
INSERT [FIFA].[Penalty_Kick] ([Penalty_ID], [Match_ID], [Player_ID], [Penalty_Outcome]) VALUES (3, N'M-2022-53', N'P-46913', 1)
SET IDENTITY_INSERT [FIFA].[Penalty_Kick] OFF
GO
INSERT [FIFA].[Player] ([Player_ID], [First_Name], [Last_Name], [Shirt_Number], [Birth_Date], [Position], [Goals], [Team], [Nationality]) VALUES (N'P-00052', N'not applicable', N'R?-R?', 2, CAST(N'1990-08-06' AS Date), N'&&defender&&', NULL, N'Qatar', NULL)
INSERT [FIFA].[Player] ([Player_ID], [First_Name], [Last_Name], [Shirt_Number], [Birth_Date], [Position], [Goals], [Team], [Nationality]) VALUES (N'P-00232', N'Sergio', N'Rochet', 23, CAST(N'1993-03-23' AS Date), N'&&&goalkeeper&', NULL, N'Uruguay', NULL)
INSERT [FIFA].[Player] ([Player_ID], [First_Name], [Last_Name], [Shirt_Number], [Birth_Date], [Position], [Goals], [Team], [Nationality]) VALUES (N'P-00244', N'Fabian', N'Frei', 20, CAST(N'1989-01-08' AS Date), N'&midfielder&&&', NULL, N'Switzerland', NULL)
GO
INSERT [FIFA].[Player_Awards] ([Award_ID], [Player_ID]) VALUES (1, N'P-64077')
GO
INSERT [FIFA].[Player_Substitution] ([Match_ID], [Player_ID], [Minute], [Going_Off], [Coming_On]) VALUES (N'M-2022-01', N'P-34543', N'68''', 1, 0)
INSERT [FIFA].[Player_Substitution] ([Match_ID], [Player_ID], [Minute], [Going_Off], [Coming_On]) VALUES (N'M-2022-01', N'P-78091', N'68''', 0, 1)
INSERT [FIFA].[Player_Substitution] ([Match_ID], [Player_ID], [Minute], [Going_Off], [Coming_On]) VALUES (N'M-2022-01', N'P-75912', N'77''', 1, 0)
GO
SET IDENTITY_INSERT [FIFA].[Stadium] ON 

INSERT [FIFA].[Stadium] ([Stadium_ID], [Stadium_Name], [City], [Country], [Capacity]) VALUES (1, N'Al Bayt Stadium', N'Al Khor', N'Qatar', 69000)
INSERT [FIFA].[Stadium] ([Stadium_ID], [Stadium_Name], [City], [Country], [Capacity]) VALUES (2, N'Khalifa International Stadium', N'Al Rayyan', N'Qatar', 46000)
INSERT [FIFA].[Stadium] ([Stadium_ID], [Stadium_Name], [City], [Country], [Capacity]) VALUES (3, N'Al Thumama Stadium', N'Doha', N'Qatar', 44000)
SET IDENTITY_INSERT [FIFA].[Stadium] OFF
GO
SET IDENTITY_INSERT [FIFA].[Team] ON 

INSERT [FIFA].[Team] ([Team_ID], [Manager_ID], [Player_ID], [Team_Name]) VALUES (1, N'M-373', N'P-00052', N'Qatar')
INSERT [FIFA].[Team] ([Team_ID], [Manager_ID], [Player_ID], [Team_Name]) VALUES (2, N'M-012', N'P-00232', N'Uruguay')
INSERT [FIFA].[Team] ([Team_ID], [Manager_ID], [Player_ID], [Team_Name]) VALUES (3, N'M-471', N'P-00244', N'Switzerland')
GO
SET IDENTITY_INSERT [FIFA].[Team] OFF
GO
SET IDENTITY_INSERT [FIFA].[Tournament] ON 

INSERT [FIFA].[Tournament] ([Tournament_ID], [Year], [Location], [Winner], [Start_Date], [End_Date]) VALUES (1, 2023, N'Qatar', NULL, NULL, NULL)
SET IDENTITY_INSERT [FIFA].[Tournament] OFF
GO
ALTER TABLE [FIFA].[Award]  WITH CHECK ADD FOREIGN KEY([Tournament_ID])
REFERENCES [FIFA].[Tournament] ([Tournament_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Event]  WITH CHECK ADD FOREIGN KEY([Match_ID])
REFERENCES [FIFA].[Match] ([Match_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Event]  WITH CHECK ADD FOREIGN KEY([Player_ID])
REFERENCES [FIFA].[Player] ([Player_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Goal_Scored]  WITH CHECK ADD FOREIGN KEY([Match_ID])
REFERENCES [FIFA].[Match] ([Match_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Goal_Scored]  WITH CHECK ADD FOREIGN KEY([Player_ID])
REFERENCES [FIFA].[Player] ([Player_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Group_Stage]  WITH CHECK ADD FOREIGN KEY([Tournament_ID])
REFERENCES [FIFA].[Tournament] ([Tournament_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Group_Team]  WITH CHECK ADD FOREIGN KEY([Group_Stage_ID])
REFERENCES [FIFA].[Group_Stage] ([Group_Stage_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Host_Country]  WITH CHECK ADD FOREIGN KEY([Tournament_ID])
REFERENCES [FIFA].[Tournament] ([Tournament_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Knockout_Stage]  WITH CHECK ADD FOREIGN KEY([Tournament_ID])
REFERENCES [FIFA].[Tournament] ([Tournament_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Knockout_Team]  WITH CHECK ADD FOREIGN KEY([Knockout_Stage_ID])
REFERENCES [FIFA].[Knockout_Stage] ([Knockout_Stage_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Manager_Appearances]  WITH CHECK ADD FOREIGN KEY([Manager_ID])
REFERENCES [FIFA].[Manager] ([Manager_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Manager_Appearances]  WITH CHECK ADD FOREIGN KEY([Match_ID])
REFERENCES [FIFA].[Match] ([Match_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Match]  WITH CHECK ADD FOREIGN KEY([Stadium_ID])
REFERENCES [FIFA].[Stadium] ([Stadium_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Match]  WITH CHECK ADD FOREIGN KEY([Tournament_ID])
REFERENCES [FIFA].[Tournament] ([Tournament_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Match_Official]  WITH CHECK ADD FOREIGN KEY([Match_ID])
REFERENCES [FIFA].[Match] ([Match_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Match_Official]  WITH CHECK ADD FOREIGN KEY([Official_ID])
REFERENCES [FIFA].[Official] ([Official_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Match_Player]  WITH CHECK ADD FOREIGN KEY([Match_ID])
REFERENCES [FIFA].[Match] ([Match_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Match_Player]  WITH CHECK ADD FOREIGN KEY([Player_ID])
REFERENCES [FIFA].[Player] ([Player_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Penalty_Kick]  WITH CHECK ADD FOREIGN KEY([Match_ID])
REFERENCES [FIFA].[Match] ([Match_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Player_Awards]  WITH CHECK ADD FOREIGN KEY([Award_ID])
REFERENCES [FIFA].[Award] ([Award_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Player_Awards]  WITH CHECK ADD FOREIGN KEY([Player_ID])
REFERENCES [FIFA].[Player] ([Player_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Player_Substitution]  WITH CHECK ADD FOREIGN KEY([Match_ID])
REFERENCES [FIFA].[Match] ([Match_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Player_Substitution]  WITH CHECK ADD FOREIGN KEY([Player_ID])
REFERENCES [FIFA].[Player] ([Player_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Team]  WITH CHECK ADD FOREIGN KEY([Manager_ID])
REFERENCES [FIFA].[Manager] ([Manager_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Team]  WITH CHECK ADD FOREIGN KEY([Player_ID])
REFERENCES [FIFA].[Player] ([Player_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Team_Awards]  WITH CHECK ADD FOREIGN KEY([Award_ID])
REFERENCES [FIFA].[Award] ([Award_ID])
ON DELETE CASCADE
GO
ALTER TABLE [FIFA].[Group_Team]  WITH CHECK ADD CHECK  (([Points]>=(0)))
GO
ALTER TABLE [FIFA].[Knockout_Team]  WITH CHECK ADD CHECK  (([Goals]>=(0)))
GO
ALTER TABLE [FIFA].[Player]  WITH CHECK ADD CHECK  (([Goals]>=(0)))
GO
ALTER TABLE [FIFA].[Player]  WITH CHECK ADD CHECK  (([Shirt_Number]>(0)))
GO
ALTER TABLE [FIFA].[Stadium]  WITH CHECK ADD CHECK  (([Capacity]>(0)))
GO
/****** Object:  Trigger [FIFA].[PlAward]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [FIFA].[PlAward]
ON [FIFA].[Goal_Scored]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    DECLARE @PlayerID VARCHAR(100);
    DECLARE @AwardID VARCHAR(100);


	 IF EXISTS (SELECT * FROM deleted)
    BEGIN
        -- If it's a DELETE operation, delete the corresponding player from Player_Awards
        DELETE FROM FIFA.Player_Awards WHERE Player_ID IN (SELECT Player_ID FROM deleted);
    END

    -- Check if the combination of Player_ID and Award_ID already exists in FIFA.Player_Awards
	SELECT TOP 1 @PlayerID = Player_ID FROM FIFA.TopScorer
	ORDER BY TotalGoals DESC;
	SELECT @AwardID = Award_ID
    FROM FIFA.Award;
    IF NOT EXISTS (
        SELECT 1
        FROM FIFA.Player_Awards
        WHERE Player_ID = @PlayerID AND Award_ID = @AwardID
    )
    BEGIN
        INSERT INTO FIFA.Player_Awards (Player_ID, Award_ID)
        VALUES (@PlayerID, @AwardID);
    END
END;
GO
ALTER TABLE [FIFA].[Goal_Scored] ENABLE TRIGGER [PlAward]
GO
/****** Object:  Trigger [FIFA].[KnockoutStagePass]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [FIFA].[KnockoutStagePass]
ON [FIFA].[Group_Team]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    -- Check if the team is already in FIFA.Knockout_Team and insert if not.
    IF EXISTS (SELECT * FROM inserted)
    BEGIN
        INSERT INTO FIFA.Knockout_Team (Team_Name)
        SELECT Team_Name
        FROM FIFA.TeamRank
        WHERE Rank <= 2
          AND NOT EXISTS (
              SELECT 1
              FROM FIFA.Knockout_Team KT
              WHERE KT.Team_Name = TeamRank.Team_Name
          );
    END

    -- Update the Knockout_Stage_ID for teams with NULL values
    UPDATE FIFA.Knockout_Team 
    SET Knockout_Stage_ID = (SELECT Knockout_Stage_ID FROM FIFA.Knockout_Stage WHERE Stage = 'Round of 16')
    WHERE Knockout_Stage_ID IS NULL;
END;
GO
ALTER TABLE [FIFA].[Group_Team] ENABLE TRIGGER [KnockoutStagePass]
GO
/****** Object:  Trigger [FIFA].[PointsUpdate]    Script Date: 04/11/2023 22:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [FIFA].[PointsUpdate]
ON [FIFA].[Group_Team]
AFTER INSERT,UPDATE,DELETE
AS
BEGIN
	UPDATE FIFA.Group_Team
	SET FIFA.Group_Team.Points = (
		SELECT SUM(Points)
		FROM (
			SELECT 
				CASE
					WHEN MR.Result = 'Home Team Wins' THEN 2
					WHEN MR.Result = 'Draw' THEN 1
					ELSE 0
				END AS Points
			FROM FIFA.MatchResults MR
			WHERE MR.Home_Team = FIFA.Group_Team.Team_Name

			UNION ALL

			SELECT 
				CASE
					WHEN MR.Result = 'Away Team Wins' THEN 2
					WHEN MR.Result = 'Draw' THEN 1
					ELSE 0
				END AS Points
			FROM FIFA.MatchResults MR
			WHERE MR.Away_Team = FIFA.Group_Team.Team_Name
		) AS TeamPoints
	);
END;
GO
ALTER TABLE [FIFA].[Group_Team] ENABLE TRIGGER [PointsUpdate]
GO
USE [master]
GO
